<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="医我"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- 认领链接:病人在浏览器里看完医生代拍的病历,点「存进我的 MedMe」时
                 由这条 scheme 把 fragment 交给 App(见 lib/claim_link.dart)。
                 用自定义 scheme 而不是 App Links,是因为后者要求校验文件放在域名
                 根目录,而站点现在是 GitHub 项目页,根目录不归我们管。买了自有域名
                 后可以再补 App Links —— 那时这条仍然保留(旧链接不该失效)。 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="medme"/>
            </intent-filter>
        </activity>
        <!-- 让 Flutter 引擎把上面 VIEW intent 的 URI 直接送进 Dart 的路由回调
             (didPushRouteInformation),省掉一个深链插件。 -->
        <meta-data
            android:name="flutter_deeplinking_enabled"
            android:value="true" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
